In [1]:
from bs4 import BeautifulSoup

In [2]:
import requests

In [3]:
import numpy as np

In [4]:
import csv

In [5]:
import pandas as pd

In [6]:
html_text = requests.get('https://www.dsebd.org/latest_share_price_scroll_l.php').text

In [7]:
soup = BeautifulSoup(html_text, 'lxml')

In [8]:
stocks_table = soup.find('div', class_ = 'table-responsive inner-scroll' )

In [9]:
stocks = stocks_table.find_all('tr')

In [10]:
stocks_data_list = []
loop_counter = 0
for stock in stocks:    
    
    stock_data = stock.find_all('td')
    
    stock_data_list = []
    nested_loop_counter = 0
    
    for data in stock_data:
            
        if 1 < nested_loop_counter < 8 :
            stock_data_list += [float(data.text.replace('--' , '0').replace(',',''))]
            
        elif nested_loop_counter == 1:
            stock_name = data.find('a')
            stock_data_list += [stock_name.text.strip()]
            
        elif nested_loop_counter == 8:
            stock_data_list += [int(data.text.replace(',','').replace('--', '0'))]
            
        elif nested_loop_counter == 9:
            stock_data_list += [float(data.text.replace(',','').replace('--','0'))]
                
        elif nested_loop_counter == 10:
            volume = int(data.text.replace(',',''))
            stock_data_list += [volume]
                
        nested_loop_counter += 1
        
    stocks_data_list.append(stock_data_list)

        
del stocks_data_list[0]

In [11]:
stocks_data_list[0][1:]

[6.5, 6.6, 6.4, 6.5, 6.5, 0.0, 111, 2.308, 355732]

In [12]:
market_update_dict = dict()
for stock in stocks_data_list:
    market_update_dict[stock[0]] = stock

In [13]:
len(market_update_dict)

384

In [14]:
listings = open('listings.csv', 'r')
market_update_for_wrangled = open('market_update_wrangled.csv', 'w')

with listings, market_update_for_wrangled:
    read_listings = csv.reader(listings)
    write_market_update = csv.writer(market_update_for_wrangled)
    
    for record in read_listings:
        try:
            write_market_update.writerow(market_update_dict[record[0]])
        except KeyError:
            continue

In [15]:
stocks_data_headings = stocks[0].find_all('th')

In [16]:
del stocks_data_headings[0]

stocks_headings_list = []

for heading in stocks_data_headings:
    stocks_headings_list += [heading.text]

In [17]:
stocks_headings_list

['TRADING CODE',
 'LTP*',
 'HIGH',
 'LOW',
 'CLOSEP*',
 'YCP*',
 'CHANGE',
 'TRADE',
 'VALUE (mn)',
 'VOLUME']

In [18]:
len(stocks_data_list)

384

In [19]:
df_mp_update = pd.read_csv('market_update_wrangled.csv', names = stocks_headings_list)

In [20]:
df_fin_disclosures = pd.read_csv('disclosures_wrangled.csv', names = ['TRADING CODE', 'SECTOR', 'CATEGORY', 'DIVIDEND', 'EPS_Q', 'EPS_Y', 'NAVPS', 'FIN_YEAR'])

In [21]:
df_merged_mp_disclosures = pd.merge(df_mp_update, df_fin_disclosures, on = 'TRADING CODE')

In [22]:
df_merged_mp_disclosures

,TRADING CODE,LTP*,HIGH,LOW,CLOSEP*,YCP*,CHANGE,TRADE,VALUE (mn),VOLUME,SECTOR,CATEGORY,DIVIDEND,EPS_Q,EPS_Y,NAVPS,FIN_YEAR
0,1JANATAMF,6.5,6.6,6.4,6.5,6.5,0.0,111,2.308,355732,Mutual Funds,A,1.30,0.80,2.54,11.94,2021
1,1STPRIMFMF,19.7,20.1,19.7,19.8,19.9,-0.2,159,3.158,159618,Mutual Funds,A,0.80,1.48,0.38,11.62,2020
2,AAMRANET,44.8,46.3,44.7,44.8,45.4,-0.6,219,6.635,147103,IT Sector,A,2.77,2.04,2.14,37.09,2021
3,AAMRATECH,30.5,31.9,30.4,30.5,31.5,-1.0,442,17.719,572278,IT Sector,A,2.08,2.12,1.45,23.93,2021
4,ABB1STMF,5.6,5.8,5.6,5.6,5.7,-0.1,25,0.440,78250,Mutual Funds,A,0.80,0.68,2.61,11.97,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,VAMLBDMF1,7.9,7.9,7.8,7.9,7.8,0.1,67,2.021,257280,Mutual Funds,A,1.50,2.21,2.10,14.63,2021
275,VAMLRBBF,8.5,8.8,8.5,8.6,8.7,-0.2,25,0.293,33949,Mutual Funds,A,0.16,2.12,1.68,10.16,2020
276,VFSTDL,21.1,21.6,21.1,21.1,21.5,-0.4,212,6.659,313404,Textile,A,1.10,1.60,1.50,18.70,2021
277,WALTONHIL,1069.0,1080.0,1066.0,1069.0,1077.2,-8.2,1092,18.889,17631,Engineering,A,25.00,29.46,54.21,311.59,2021
278,WATACHEM,286.8,290.0,283.5,286.8,286.7,0.1,215,5.266,18361,Pharmaceuticals & Chemicals,A,3.00,4.04,6.14,60.22,2021

In [23]:
df_for_lin_reg = df_merged_mp_disclosures.loc[:, ['TRADING CODE', 'LTP*', 'DIVIDEND', 'EPS_Q', 'EPS_Y', 'NAVPS','SECTOR']]

In [24]:
df_merged_mp_disclosures['DIVIDEND'].dtype

dtype('float64')

In [25]:
data_banks = df_for_lin_reg.groupby('SECTOR').get_group('Bank')

In [26]:
data_banks

    TRADING CODE  LTP*  DIVIDEND  EPS_Q  EPS_Y  NAVPS SECTOR
5         ABBANK  13.4      0.68   0.59   0.50  32.26   Bank
18     ALARABANK  26.8      1.50   2.06   2.42  22.35   Bank
33      BANKASIA  20.4      1.00   3.15   1.74  23.34   Bank
51      BRACBANK  57.6      3.93   3.83   3.33  36.63   Bank
60      CITYBANK  27.2      3.13   3.96   4.29  29.03   Bank
74     DHAKABANK  14.3      1.47   2.18   2.20  21.69   Bank
80    DUTCHBANGL  77.3     13.12   8.33  10.00  58.65   Bank
83           EBL  38.5      8.50   5.61   5.15  36.28   Bank
94      EXIMBANK  12.9      1.07   1.57   1.99  21.66   Bank
98    FIRSTSBANK  12.5      1.14   1.73   2.93  18.91   Bank
124         IFIC  17.1      0.88   1.68   0.70  17.18   Bank
131   ISLAMIBANK  31.9      1.00   3.55   2.97  38.89   Bank
135   JAMUNABANK  23.4      1.75   5.16   3.54  32.06   Bank
158   MERCANBANK  17.1      1.87   4.51   2.26  22.61   Bank
170          MTB  19.2      1.93   1.60   1.31  23.03   Bank
173          NBL   7.3      0.37   0.59   1.18  16.92   Bank
174      NCCBANK  15.2      1.91   2.74   2.38  22.15   Bank
183     NRBCBANK  26.7      2.10   2.96   1.96  14.00   Bank
185   ONEBANKLTD  13.4      1.35   2.92   1.57  19.31   Bank
202   PREMIERBAN  14.7      2.38   2.98   2.13  21.02   Bank
205    PRIMEBANK  21.4      1.50   3.01   1.60  25.15   Bank
210   PUBALIBANK  27.4      1.25   6.03   3.60  37.63   Bank
226   RUPALIBANK  33.8      3.33   0.49   0.49  44.10   Bank
235     SBACBANK  15.5      1.04   1.08   1.21  13.59   Bank
239   SHAHJABANK  22.3      1.81   3.27   1.95  18.33   Bank
242         SIBL  17.9      1.38   1.08   1.67  19.29   Bank
252   SOUTHEASTB  15.3      1.00   4.17   1.81  24.98   Bank
259   STANDBANKL  10.3      0.51   0.37   1.08  16.67   Bank
266    TRUSTBANK  33.6      4.46   5.26   2.81  27.37   Bank
267          UCB  16.0      1.33   2.20   2.42  29.35   Bank
272   UTTARABANK  26.9      4.61   3.61   4.31  34.79   Bank

In [27]:
X = np.column_stack((data_banks['DIVIDEND'], data_banks['NAVPS'], data_banks['EPS_Q'], data_banks['EPS_Y']))

In [28]:
y = data_banks['LTP*']

In [29]:
y

5      13.4
18     26.8
33     20.4
51     57.6
60     27.2
74     14.3
80     77.3
83     38.5
94     12.9
98     12.5
124    17.1
131    31.9
135    23.4
158    17.1
170    19.2
173     7.3
174    15.2
183    26.7
185    13.4
202    14.7
205    21.4
210    27.4
226    33.8
235    15.5
239    22.3
242    17.9
252    15.3
259    10.3
266    33.6
267    16.0
272    26.9
Name: LTP*, dtype: float64

In [30]:
from sklearn.linear_model import LinearRegression

In [31]:
from sklearn.metrics import r2_score

In [32]:
import statsmodels.api as sm

In [33]:
X2 = sm.add_constant(X)

In [34]:
est = sm.OLS(y, X2)

In [35]:
est2 = est.fit()

In [36]:
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   LTP*   R-squared:                       0.797
Model:                            OLS   Adj. R-squared:                  0.766
Method:                 Least Squares   F-statistic:                     25.60
Date:                Mon, 24 Jan 2022   Prob (F-statistic):           1.10e-08
Time:                        23:45:04   Log-Likelihood:                -101.01
No. Observations:                  31   AIC:                             212.0
Df Residuals:                      26   BIC:                             219.2
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.3496      4.081      0.086      0.932      -8.039       8.739
x1             2.9179      1.027      2.842      0.009       0.807       5.028
x2             0.5325      0.186      2.869      0.008       0.151       0.914
x3             0.9535      1.197      0.797      0.433      -1.506       3.413
x4            -0.2789      1.789     -0.156      0.877      -3.956       3.398
==============================================================================
Omnibus:                       22.020   Durbin-Watson:                   1.884
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               36.226
Skew:                           1.656   Prob(JB):                     1.36e-08
Kurtosis:                       7.132   Cond. No.                         95.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [37]:
data_mf = df_for_lin_reg.groupby('SECTOR').get_group('Mutual Funds')

In [38]:
data_mf

    TRADING CODE  LTP*  DIVIDEND  EPS_Q  EPS_Y  NAVPS        SECTOR
0      1JANATAMF   6.5      1.30   0.80   2.54  11.94  Mutual Funds
1     1STPRIMFMF  19.7      0.80   1.48   0.38  11.62  Mutual Funds
4       ABB1STMF   5.6      0.80   0.68   2.61  11.97  Mutual Funds
16    AIBL1STIMF   8.8      1.23   0.21   1.83  11.57  Mutual Funds
31       ATCSLGF   9.8      1.50   1.12   1.93  12.41  Mutual Funds
57    CAPMBDBLMF  10.2      1.30   1.48   2.41  11.81  Mutual Funds
58    CAPMIBBLMF  16.0      1.35   1.28   1.89  11.97  Mutual Funds
70      DBH1STMF   7.5      1.20   0.13   2.13  11.79  Mutual Funds
84      EBL1STMF   7.5      1.30   2.13   2.58  11.76  Mutual Funds
85      EBLNRBMF   6.1      0.60   1.16   1.92  12.27  Mutual Funds
93     EXIM1STMF   6.3      0.75   0.96   2.00  12.00  Mutual Funds
95         FBFIF   5.4      0.40   0.68   1.93  11.64  Mutual Funds
108    GRAMEENS2  16.2      1.30   2.08   1.21  20.82  Mutual Funds
109   GREENDELMF   7.6      1.20   0.20   2.10  11.69  Mutual Funds
117    ICB3RDNRB   6.9      0.70   0.89   0.53   9.22  Mutual Funds
118   ICBAGRANI1   8.8      0.70   1.34   0.67  11.01  Mutual Funds
119   ICBAMCL2ND   8.8      0.80   1.52   0.37  10.33  Mutual Funds
120   ICBEPMF1S1   7.3      0.60   1.12   0.41   9.40  Mutual Funds
121   ICBSONALI1   8.0      0.70   1.24   0.53  10.39  Mutual Funds
125    IFIC1STMF   5.4      0.75   0.80   2.32  11.48  Mutual Funds
126   IFILISLMF1   6.7      0.40   0.88   0.31   9.50  Mutual Funds
152    LRGLOBMF1   7.0      1.51   1.74   1.74  13.47  Mutual Funds
156     MBL1STMF   8.0      1.15   0.30   1.95  11.89  Mutual Funds
175     NCCBLMF1   8.6      0.72   0.91   1.12  11.81  Mutual Funds
180     NLI1STMF  14.1      1.75   0.96   3.14  15.32  Mutual Funds
193      PF1STMF   8.8      0.60   1.20   0.32   9.68  Mutual Funds
197       PHPMF1   5.5      0.85   0.60   2.04  11.85  Mutual Funds
199   POPULAR1MF   5.5      0.85   0.76   2.08  11.85  Mutual Funds
204   PRIME1ICBA   7.4      0.75   1.76   0.47  10.15  Mutual Funds
220    RELIANCE1  11.3      1.05   1.24   1.06  14.76  Mutual Funds
236   SEMLFBSLGF   8.5      1.50   1.32   1.87  12.40  Mutual Funds
237   SEMLIBBLSF   9.2      1.00   2.61   2.33  11.31  Mutual Funds
238    SEMLLECMF   9.4      1.50   3.85   2.84  11.84  Mutual Funds
265    TRUSTB1MF   5.9      0.90   0.60   2.24  11.91  Mutual Funds
274    VAMLBDMF1   7.9      1.50   2.21   2.10  14.63  Mutual Funds
275     VAMLRBBF   8.5      0.16   2.12   1.68  10.16  Mutual Funds

In [39]:
X_mf = np.column_stack((data_mf['DIVIDEND'], data_mf['NAVPS'], data_mf['EPS_Q'], data_mf['EPS_Y']))

In [40]:
y_mf = data_mf['LTP*']

In [41]:
X2_mf = sm.add_constant(X_mf)

In [42]:
est_mf = sm.OLS(y_mf, X2_mf)

In [43]:
est2_mf = est_mf.fit()

In [45]:
print(est2_mf.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   LTP*   R-squared:                       0.414
Model:                            OLS   Adj. R-squared:                  0.338
Method:                 Least Squares   F-statistic:                     5.468
Date:                Mon, 24 Jan 2022   Prob (F-statistic):            0.00189
Time:                        23:45:44   Log-Likelihood:                -83.274
No. Observations:                  36   AIC:                             176.5
Df Residuals:                      31   BIC:                             184.5
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.7604      2.691      0.283      0.779      -4.729       6.249
x1             3.0882      1.606      1.923      0.064      -0.186       6.363
x2             0.5955      0.262      2.269      0.030       0.060       1.131
x3             0.7343      0.611      1.202      0.239      -0.512       1.981
x4            -1.9239      0.651     -2.954      0.006      -3.252      -0.595
==============================================================================
Omnibus:                       27.869   Durbin-Watson:                   1.885
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               56.942
Skew:                           1.910   Prob(JB):                     4.32e-13
Kurtosis:                       7.833   Cond. No.                         76.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [50]:
df_for_lin_reg['SECTOR'].unique()

array(['Mutual Funds', 'IT Sector', 'Bank', 'Textile',
       'Pharmaceuticals & Chemicals', 'Insurance', 'Miscellaneous',
       'Food & Allied', 'Engineering', 'Fuel & Power',
       'Tannery Industries', 'Financial Institutions', 'Paper & Printing',
       'Telecommunication', 'Cement', 'Services & Real Estate',
       'Ceramics Sector', 'Travel & Leisure', 'Jute'], dtype=object)

In [55]:
data_ins = df_for_lin_reg.groupby('SECTOR').get_group('Insurance')

In [58]:
data_ins

    TRADING CODE   LTP*  DIVIDEND  EPS_Q  EPS_Y  NAVPS     SECTOR
15      AGRANINS   56.2      3.28   1.81   1.71  18.11  Insurance
29       ASIAINS  104.2      1.20   4.24   2.34  24.52  Insurance
30    ASIAPACINS   65.5      1.00   3.33   1.97  20.63  Insurance
47          BGIC   53.1      1.20   2.51   1.25  19.38  Insurance
48         BNICL  124.2      1.50   3.83   2.32  20.17  Insurance
59    CENTRALINS   52.4      4.50   2.68   2.18  25.02  Insurance
61    CITYGENINS   40.0      1.00   1.71   1.77  16.88  Insurance
64     CONTININS   45.0      2.39   2.27   1.29  19.84  Insurance
66    CRYSTALINS   51.6      1.00   2.46   4.59  20.98  Insurance
73          DGIC   38.2      1.00   1.32   0.91   7.16  Insurance
75      DHAKAINS   70.0      2.00   3.31   2.89  31.61  Insurance
81      EASTLAND   36.9      1.81   1.32   1.12  21.32  Insurance
88           EIL   32.9      0.70   1.63   1.34  19.00  Insurance
96    FEDERALINS   34.2      2.24   0.96   1.33  12.40  Insurance
104    GLOBALINS   52.7      1.00   2.32   1.53  12.75  Insurance
110    GREENDELT   97.1      9.78   7.50   7.34  68.95  Insurance
133    ISLAMIINS   62.3      6.22   2.57   2.18  15.89  Insurance
137    JANATAINS   44.9      2.84   1.64   1.25  14.45  Insurance
139   KARNAPHULI   40.6      1.00   2.19   1.57  18.82  Insurance
159      MERCINS   48.0      1.00   1.51   1.70  19.05  Insurance
179     NITOLINS   58.9      1.00   2.73   2.84  27.23  Insurance
181   NORTHRNINS   51.7      1.00   1.85   1.73  20.24  Insurance
189    PARAMOUNT   73.3     14.50   4.11   5.38  26.62  Insurance
192   PEOPLESINS   57.1      1.10   2.71   2.26  28.60  Insurance
195    PHENIXINS   55.7      1.50   2.75   2.33  39.10  Insurance
198   PIONEERINS  109.4     13.01   7.95   7.61  49.75  Insurance
201   PRAGATIINS   89.2      3.00   6.31   4.07  53.51  Insurance
206   PRIMEINSUR   79.6      1.00   2.69   1.31  17.62  Insurance
208   PROVATIINS  118.4     20.32   3.92   3.10  21.11  Insurance
211    PURABIGEN   38.0      2.40   1.43   1.16  13.09  Insurance
221   RELIANCINS   84.7      2.50   6.38   5.21  60.73  Insurance
223     REPUBLIC   49.3      4.10   2.48   2.36  16.18  Insurance
227    RUPALIINS   42.6      1.00   1.99   1.90  21.41  Insurance
251   SONARBAINS   69.8      1.50   2.63   2.09  19.62  Insurance
258   STANDARINS   71.7      1.25   2.96   2.07  19.09  Insurance
261   TAKAFULINS   60.8      1.00   2.29   1.65  17.97  Insurance
270    UNITEDINS   62.0      1.10   2.40   2.04  33.04  Insurance

In [59]:
X_ins = np.column_stack((data_ins['DIVIDEND'], data_ins['NAVPS'], data_ins['EPS_Q'], data_ins['EPS_Y']))

In [63]:
y_ins = data_ins['LTP*']

15      56.2
29     104.2
30      65.5
47      53.1
48     124.2
59      52.4
61      40.0
64      45.0
66      51.6
73      38.2
75      70.0
81      36.9
88      32.9
96      34.2
104     52.7
110     97.1
133     62.3
137     44.9
139     40.6
159     48.0
179     58.9
181     51.7
189     73.3
192     57.1
195     55.7
198    109.4
201     89.2
206     79.6
208    118.4
211     38.0
221     84.7
223     49.3
227     42.6
251     69.8
258     71.7
261     60.8
270     62.0
Name: LTP*, dtype: float64